body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.oreng-color{
    color: #FFA500;
}
.header-area{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.half-width p{
    
    margin-bottom: 25px;
    
}

.link-btn{
    text-decoration: none;
    background-image: linear-gradient(#FF8E6B,#FF6E50);
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}


/* dream area css */

.dream-area{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 120px;
    
}
.dream-img{
    width: 50%;
    padding-left: 5%;
}
.dream-img img{
    width: 80%;
}
.dream-img p{
    margin-bottom: 25px;
}
.down-btn{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(#FF8E6B,#FF6E50);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}

/* experienc-area */
.experienc-area{
}
.flexible-container{
    display: flex;
    margin-bottom: 120px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.box-shedow{
    box-shadow: 10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px 15px 30px;
}
#web-expo{
    border-left: 7px solid;
    border-image: linear-gradient(#FF6E50,#fca258);
    border-image-slice: 1;
}
#baby-dev{
   border-left: 7px solid;
   border-image: linear-gradient(blue,cyan);
   border-image-slice: 1;
}

footer p{
    text-align: center;
}